<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head th:fragment="site-head">
<meta charset="UTF-8" />
<link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
<meta th:include="this :: head" th:remove="tag"/>
</head><body><header th:fragment="site-header">
<a href="login.html" th:href="@{/}">Login</a>
<a href="register.html" th:href="@{/register}">Register</a>


    <ul id="messages" th:with="notifyMessages=${session[T(FinalProject
          .NotificationCntl).NOTIFY_MSG_SESSION_KEY]}">
      <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
           th:class="${#strings.toLowerCase(msg.type)}">
      </li>
      <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(FinalProject.NotificationCntl).NOTIFY_MSG_SESSION_KEY)}"></span>

    </ul>
</header>    
<h1>Welcome</h1>
<p>GroupSocialMedia</p> <footer th:fragment="site-footer">
</footer></body></html>
