<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="homelayout :: site-head">
  <title>Announcements</title>
</head>

<body>

<header th:replace="homelayout :: site-header" />

<h1>Create New Announcement!</h1>

<form method="post" th:object="${announcement}">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Body: <input type="text" th:field="*{body}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<footer th:replace="layout :: site-footer" />

</body>

</html>